@inject SignInManager<TroydonFitnessWebsiteUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
    <ul class="nav nav-pills flex-column identity-nav">
        <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
        <li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a></li>
        <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>
        @if (hasExternalLogins)
        {
            <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li>
        }
        <li class="nav-item"><a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>
        <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a></li>

        <li class="nav-item dropdown" >
            <div class="dropbtn nav-link" id="administration-nav">Administration Tasks > </div>
            <div class="dropdown-content hidden">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/ManageUsers/ListUsers">Manage Users</a>
                <a class="nav-link" asp-area="" asp-page="/Products/Index">Manage Products</a>
            </div>
        </li>
    </ul>

@* TODO: make nav box a fixed size so it will not cause issues with making footer bigger and samller *@
