@page
@model TroydonFitnessWebsite.Areas.Identity.Pages.Account.ManageUsers.EditModel
@{
    ViewData["Title"] = "Edit User";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit User</h1>


<h4>TroydonFitnessWebsiteUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TroydonFitnessWebsiteUser.Id" />
            <div class="form-group">
                <label asp-for="TroydonFitnessWebsiteUser.Id" class="control-label"></label>

                @*  TODO: Put this in a partial page as it needs to show in each product update page. *@
                <span asp-validation-for="TroydonFitnessWebsiteUser.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TroydonFitnessWebsiteUser.UserName" class="control-label"></label>
                <input asp-for="TroydonFitnessWebsiteUser.UserName" class="form-control" />
                <span asp-validation-for="TroydonFitnessWebsiteUser.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TroydonFitnessWebsiteUser.FirstName" class="control-label"></label>
                <input asp-for="TroydonFitnessWebsiteUser.FirstName" class="form-control" />
                <span asp-validation-for="TroydonFitnessWebsiteUser.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TroydonFitnessWebsiteUser.LastName" class="control-label"></label>
                <input asp-for="TroydonFitnessWebsiteUser.LastName" class="form-control" />
                <span asp-validation-for="TroydonFitnessWebsiteUser.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TroydonFitnessWebsiteUser.Email" class="control-label"></label>
                <input asp-for="TroydonFitnessWebsiteUser.Email" class="form-control" />
                <span asp-validation-for="TroydonFitnessWebsiteUser.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TroydonFitnessWebsiteUser.EmailConfirmed" class="control-label"></label>
                <input asp-for="TroydonFitnessWebsiteUser.EmailConfirmed" class="form-control" />
                <span asp-validation-for="TroydonFitnessWebsiteUser.EmailConfirmed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TroydonFitnessWebsiteUser.PhoneNumber" class="control-label"></label>
                <input asp-for="TroydonFitnessWebsiteUser.PhoneNumber" class="form-control" />
                <span asp-validation-for="TroydonFitnessWebsiteUser.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TroydonFitnessWebsiteUser.IsAdmin" class="control-label"></label>
                <input asp-for="TroydonFitnessWebsiteUser.IsAdmin" class="form-control" />
                <span asp-validation-for="TroydonFitnessWebsiteUser.IsAdmin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TroydonFitnessWebsiteUser.IsMasterAdmin" class="control-label"></label>
                <input asp-for="TroydonFitnessWebsiteUser.IsMasterAdmin" class="form-control" />
                <span asp-validation-for="TroydonFitnessWebsiteUser.IsMasterAdmin" class="text-danger"></span>
            </div>
            K
            <div class="form-group">
                <label asp-for="TroydonFitnessWebsiteUser.AddressLine1" class="control-label"></label>
                <input asp-for="TroydonFitnessWebsiteUser.AddressLine1" class="form-control" />
                <span asp-validation-for="TroydonFitnessWebsiteUser.AddressLine1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TroydonFitnessWebsiteUser.AddressLine2" class="control-label"></label>
                <input asp-for="TroydonFitnessWebsiteUser.AddressLine2" class="form-control" />
                <span asp-validation-for="TroydonFitnessWebsiteUser.AddressLine2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TroydonFitnessWebsiteUser.City" class="control-label"></label>
                <input asp-for="TroydonFitnessWebsiteUser.City" class="form-control" />
                <span asp-validation-for="TroydonFitnessWebsiteUser.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TroydonFitnessWebsiteUser.State" class="control-label"></label>
                <input asp-for="TroydonFitnessWebsiteUser.State" class="form-control" />
                <span asp-validation-for="TroydonFitnessWebsiteUser.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TroydonFitnessWebsiteUser.Zip" class="control-label"></label>
                <input asp-for="TroydonFitnessWebsiteUser.Zip" class="form-control" />
                <span asp-validation-for="TroydonFitnessWebsiteUser.Zip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TroydonFitnessWebsiteUser.Bodyfat" class="control-label"></label>
                <input asp-for="TroydonFitnessWebsiteUser.Bodyfat" class="form-control" />
                <span asp-validation-for="TroydonFitnessWebsiteUser.Bodyfat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TroydonFitnessWebsiteUser.AddressLine2" class="control-label"></label>
                <input asp-for="TroydonFitnessWebsiteUser.AddressLine2" class="form-control" />
                <span asp-validation-for="TroydonFitnessWebsiteUser.AddressLine2" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    @Html.DisplayNameFor(model => model.TroydonFitnessWebsiteUser.Gender)

                    @Html.LabelFor(x => x.TroydonFitnessWebsiteUser.Gender) :
                    @Html.RadioButtonFor(x => x.TroydonFitnessWebsiteUser.ActivityType, "Male") Male
                    @Html.RadioButtonFor(x => x.TroydonFitnessWebsiteUser.ActivityType, "Female") Female
                    @Html.ValidationMessageFor(x => x.TroydonFitnessWebsiteUser.Gender)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="TroydonFitnessWebsiteUser.Height" class="control-label"></label>
                <input asp-for="TroydonFitnessWebsiteUser.Height" class="form-control" />
                <span asp-validation-for="TroydonFitnessWebsiteUser.Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TroydonFitnessWebsiteUser.Weight" class="control-label"></label>
                <input asp-for="TroydonFitnessWebsiteUser.Weight" class="form-control" />
                <span asp-validation-for="TroydonFitnessWebsiteUser.Weight" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    @Html.DisplayNameFor(model => model.TroydonFitnessWebsiteUser.ActivityType)

                    @Html.LabelFor(x => x.TroydonFitnessWebsiteUser.ActivityType) :
                    @Html.RadioButtonFor(x => x.TroydonFitnessWebsiteUser.ActivityType, "Sedentary") Sedentary
                    @Html.RadioButtonFor(x => x.TroydonFitnessWebsiteUser.ActivityType, "LightExercise") LightExercise
                    @Html.RadioButtonFor(x => x.TroydonFitnessWebsiteUser.ActivityType, "ModerateExercise") ModerateExercise
                    @Html.RadioButtonFor(x => x.TroydonFitnessWebsiteUser.ActivityType, "HeavyExercise") HeavyExercise
                    @Html.RadioButtonFor(x => x.TroydonFitnessWebsiteUser.ActivityType, "Athlete") Athlete
                    @Html.ValidationMessageFor(x => x.TroydonFitnessWebsiteUser.ActivityType)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./ListUsers">Back to Users List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
