@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!-- login modal -->
@*<div id="myModal" class="modal">

    <!-- Modal content -->
    <div id="modal-content">
        <div id="modal-header">
            <span class="close">&times;</span>
            <h2>Login to user</h2>
        </div>

        <form id="account" method="post">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="modal-body">
                <h5>Use a local account to log in.</h5>

                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="login" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>

                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>

                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
            <div id="modal-footer">

                <div class="credentials">
                    <input type="submit" class="login-home" value="LogIn">
                    <a class="register-home" asp-area="Identity" asp-page="Account/Register" asp-route-returnUrl="@Model.ReturnUrl">SignUp</a>
                </div>
                <p>Forgotten Password? Click <a id="forgot-password" asp-page="./Account/ForgotPassword">here</a> to reset password.</p>
            </div>
        </form>
    </div>
    </div>*@

<body>
    <div id="troydon-bg">
    </div>
    <div class="parallax">
        <main>

            <section>
                <hr>
                <p>My Mission is to help others ascend to a super saiyan.</p>
                <hr>
            </section>

            <section id="featured-prods">
                <h3>Featured Products</h3>

                @if (Model.PtProductsToDisplay != null)
                {
                    <div class="slideshow-container">

                        @* Use a foreach loop to loop through all featured image (all products will have a bool IsFeatured which can be setup dropdown on edit prods *@
                        @foreach (var item in Model.PtProductsToDisplay)
                        {

                            <div class="mySlides fade">
                                <div class="numbertext">@item.Product.Title</div>
                                <img src="data:image/*;base64,@(Convert.ToBase64String(item.PtProductPicture))" class="feat-img">
                                <div class="text">
                                    @item.Product.Title<br />
                                    @item.Product.ShortDescription
                                </div>
                            </div>
                        }

                    </div>
                    <br />
                    @foreach (var item in Model.PtProductsToDisplay)
                    {

                        <div style="text-align:center; display: inline-block;">
                            <span class="dot" onclick="currentSlide(@Model.PtProductsToDisplay.IndexOf(item)" )></span>
                        </div>
                    }
                }

            </section>

            <section>
                <h3>Keep updated</h3>
                <p>
                    Get up to date with all of the newest training tips, and get notified when a new deal is available.
                </p>
                <form action="/Subscribe.cshtml">
                    <input type="email" placeholder="Enter your email here" name="subscribe" class="login">
                </form>
            </section>

            <section>
                <h3>My Transformation</h3>

                <div class="slideshow-container">
                    @* Use a foreach loop to loop through all featured image (all products will have a bool IsFeatured which can be setup dropdown on edit prods *@
                    <div class="mySlides2 fade">
                        <div class="numbertext">My Transformation</div>
                        <img src="~/images/my-transformation.jpg" class="feat-img">
                        <div class="text">
                            My transformation<br />
                            A picture of my transformation
                        </div>
                    </div>
                    <div class="mySlides2 fade">
                        <div class="numbertext">My Transformation</div>
                        <img src="~/images/my-transformation.jpg" class="feat-img">
                        <div class="text">
                            My transformation<br />
                            A picture of my transformation
                        </div>
                    </div>
                    <div class="mySlides2 fade">
                        <div class="numbertext">My Transformation</div>
                        <img src="~/images/my-transformation.jpg" class="feat-img">
                        <div class="text">
                            My transformation<br />
                            A picture of my transformation
                        </div>
                    </div>
                    <div class="mySlides2 fade">
                        <div class="numbertext">My Transformation</div>
                        <img src="~/images/my-transformation.jpg" class="feat-img">
                        <div class="text">
                            My transformation<br />
                            A picture of my transformation
                        </div>
                    </div>
                </div>
                <br />
                @foreach (var item in Model.PtProductsToDisplay)
                {
                    <div style="text-align:center; display: inline-block;">
                        <span class="dot2" onclick="currentSlide(@Model.PtProductsToDisplay.IndexOf(item))"></span>
                    </div>
                }
            </section>

            <section>
                <div class="register-left">
                    <h3>What are you waiting for?</h3>
                    <p> Join now and begin the ascension!</p>
                    <form action="/Register.cshtml">
                        <div class="centerz">
                            <button class="btnz">
                                <svg width="400px" height="200px" viewBox="0 0 400 200" class="borderz">
                                    <polyline points="399,1 399,199 1,199 1,1 399,1" class="bg-line" />
                                    <polyline points="399,1 399,199 1,199 1,1 399,1" class="hl-line" />
                                </svg>
                                <span>START THE JOURNEY</span>
                            </button>
                        </div>
                    </form>
                </div>

                <aside id="register-pic">
                    Picture goes here
                </aside>
            </section>
        </main>

    </div>

</body>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}