@page
@model TroydonFitnessWebsite.Pages.Products.Orders.ViewOrdersModel
@inject UserManager<TroydonFitnessWebsiteUser> UserManager

@{
    ViewData["Title"] = "ViewOrders";
    Layout = "~/Pages/Shared/_ProductsLayout.cshtml";
}

<h1>ViewOrders</h1>

<p>
    <a asp-page="/Products/MainProductPage">Create New Order</a>
</p>

<form asp-page="./ViewOrders" method="get">
    @* By using method type get, we are able to see the query string in the URL and book mark the page with search criteria, also as per W3C guideliness, if we are not inputting data in server use GET *@
    <div class="form-actions no-color">
        <p>
            Find by product title or description:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>

            <th>
                <a asp-page="./ViewOrders" asp-route-sortOrder="@Model.OrderIdSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Orders[0].OrderID)
                </a>
            </th>

            @if (Model.Orders[0].TrainingRoutine != null)
            {
                @if (UserManager.GetUserAsync(User).Result.IsMasterAdmin)
                {
                    <th>
                        <a asp-page="./ViewOrders" asp-route-sortOrder="@Model.IdSort"
                           asp-route-currentFilter="@Model.CurrentFilter">
                            @Html.DisplayNameFor(model => model.Orders[0].TrainingRoutine.TrainingRoutineID)
                        </a>
                    </th>
                }
                <th>
                    <a asp-page="./ViewOrders" asp-route-sortOrder="@Model.TitleSort"
                       asp-route-currentFilter="@Model.CurrentFilter">
                        @Html.DisplayNameFor(model => model.Orders[0].Product.Title)
                    </a>
                </th>
                <th>
                    <a asp-page="./ViewOrders" asp-route-sortOrder="@Model.PriceSort"
                       asp-route-currentFilter="@Model.CurrentFilter">
                        @Html.DisplayNameFor(model => model.Orders[0].TrainingRoutine.PersonalTrainingSession.Product.Price)
                    </a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Orders[0].TrainingRoutine.PersonalTrainingSession.Product.Quantity)
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderID)
                </td>

                @if (Model.Orders[0].TrainingRoutine != null)
                {
                    @if (UserManager.GetUserAsync(User).Result.IsMasterAdmin)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.TrainingRoutine.PersonalTrainingSession.Product.ProductID)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.TrainingRoutine.PersonalTrainingSession.Product.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrainingRoutine.PersonalTrainingSession.Product.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrainingRoutine.PersonalTrainingSession.Product.Quantity)
                    </td>
                }
                <td>
                    <a asp-page="./EditOrder" asp-route-id="@item.OrderID">Edit Order</a> |
                    <a asp-page="./OrderDetail" asp-route-id="@item.OrderID">Order Details</a> |
                    <a asp-page="./DeleteOrder" asp-route-id="@item.OrderID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>