@page
@model TroydonFitnessWebsite.Pages.Products.Diets.IndexModel

@{
    Layout = "~/Pages/Shared/_ProductsLayout.cshtml";
}

<p>
    <a asp-page="CreateDiet">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Diets[0].PersonalTrainingSession)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diets[0].PersonalTrainingSession.Product.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diets[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diets[0].Allergies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diets[0].PreferredFood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diets[0].Comments)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Diets)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonalTrainingSession.PersonalTrainingID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonalTrainingSession.Product.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Allergies)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PreferredFood)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td>
                    <a asp-page="./EditDiet" asp-route-id="@item.DietID">Edit</a> |
                    <a asp-page="./DietDetails" asp-route-id="@item.DietID">Details</a> |
                    <a asp-page="./DeleteDiet" asp-route-id="@item.DietID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>