@page
@model TroydonFitness.Pages.Products.DetailsModel

@{
    ViewData["Title"] = "Details";
}


<div class="post-wrap text-dark">
    <h1>Details</h1>

    <div>
        <h4>Product</h4>
        <hr />
        <dl class="row">

            @*<dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.PersonalTrainingSessions.PersonalTrainingID)
        </dd>*@
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.Quantity)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.Quantity)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.HasStock)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.HasStock)
            </dd>
            @*Begin addition for personal training info*@
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.CustomizedRoutines)
            </dt>
            <dd class="col-sm-10">
                <table class="table">
                    <tr>
                        <th>Course Title</th>
                        <th>Grade</th>
                    </tr>
                    @foreach (var item in Model.Product.CustomizedRoutines)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.RoutineType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DifficultyLevel)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RoutineAdded)
                            </td>
                        </tr>
                    }
                </table>
            </dd>
           
        </dl>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Product.ProductID">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
    </div>