@page
@model TroydonFitnessWebsite.Pages.Products.PersonalTrainingSessions.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_ProductsLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>PersonalTraining</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalTraining.ProductID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalTraining.Product.ProductID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalTraining.PersonalTrainingID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalTraining.PersonalTrainingID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalTraining.Description)
        </dt>
        <dd class="col-sm-10">


            @*  Begin Original Product Description *@
            @Html.DisplayFor(modelItem => modelItem.PersonalTraining.Product.Title)

            <!--Table-->
            <table id="tablePreview" class="table">
                <!--Table head-->
                <thead>
                    <tr>
                        <th> @Html.DisplayNameFor(modelItem => modelItem.PersonalTraining.Product.Title)</th>
                        <th> @Html.DisplayNameFor(modelItem => modelItem.PersonalTraining.Product.Price)</th>
                        <th> @Html.DisplayNameFor(modelItem => modelItem.PersonalTraining.Product.LastUpdated)</th>
                    </tr>
                </thead>
                <!--Table head-->
                <!--Table body-->
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.PersonalTraining.Product.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.PersonalTraining.Product.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.PersonalTraining.Product.LastUpdated)
                        </td>
                    </tr>
                </tbody>
                <!--Table body-->
            </table>
            <!--Table-->
            @* End main product details *@

            @Html.DisplayFor(model => model.PersonalTraining.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalTraining.LengthOfRoutine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalTraining.LengthOfRoutine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalTraining.PTSessionType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalTraining.PTSessionType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalTraining.ExperienceLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalTraining.ExperienceLevel)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PersonalTraining.PersonalTrainingID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>

<div class="add-to-cart">
    <a asp-page="#" class="btn btn-primary btn-lg btn-block">Add to Cart</a>
</div>

