@page
@model TroydonFitnessWebsite.Pages.Products.Supplements.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Supplement</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplement.Product)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplement.Product.ProductID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplement.Diet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplement.Diet.DietID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplement.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplement.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Supplement.SupplementID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
