@page
@inject UserManager<TroydonFitnessWebsiteUser> UserManager
@model TroydonFitnessWebsite.Pages.Products.TrainingRoutines.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_ProductsLayout.cshtml";
}

<h1>Training Routine</h1>

@* Create new training routine order here *@
<h4>
    <input type="button" class="order-button" value="Place Order" />
</h4>
<hr />

@* We can only make a training routine order when the current time since routine was ordered is passed. *@
<div class="row create-order hidden">
    @if (@UserManager.GetUserAsync(User).Result.CoolOffDate <= DateTime.Now)
    {
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CartVM.TrainingRoutine.RoutineName" class="control-label"></label>
                    <select asp-for="CartVM.TrainingRoutineID" class="form-control"
                            asp-items="@Model.TrainingRoutineNameSL">
                        <option value="">-- Select Training Routine--</option>
                    </select>
                    <span asp-validation-for="CartVM.TrainingRoutineID" class="text-danger" />
                </div>
                @* TODO: Currently only the back end handles inspect element to redirect, will later use JavaScript to make a alert box also tell user max quantity *@
                <div class="form-group">
                    <label asp-for="CartVM.Quantity" class="control-label"></label>
                    <input asp-for="CartVM.Quantity" class="form-control" value="1" readonly />
                    <span asp-validation-for="CartVM.Quantity" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Add To Cart" class="btn btn-primary" />
                </div>
            </form>
            <input type="submit" value="Cancel" class="btn btn-secondary cancel-create" />

        </div>
    }
    else
    {
        <h6>Sorry please, wait for your current routine to complete before creating a routine new order.  </h6>
        <h6>
            Time left to order again:
            @Math.Round(@UserManager.GetUserAsync(User).Result.TimeLeft.TotalDays) days
        </h6> 
    }
</div>


@* Begin Viewing Training Routine *@
<p>
    <a asp-page="Create">Create New Training Routine</a>
</p>

<form asp-page="./Index" method="get">
    @* By using method type get, we are able to see the query string in the URL and book mark the page with search criteria, also as per W3C guideliness, if we are not inputting data in server use GET *@
    <div class="form-actions no-color">
        <p>
            Find by product title or description:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.IdSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.TrainingRoutines[0].PersonalTrainingSession.ProductID)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.ptIdSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.TrainingRoutines[0].PersonalTrainingID)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.TrainingIdSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.TrainingRoutines[0].TrainingRoutineID)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.TitleSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.TrainingRoutines[0].RoutineName)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingRoutines[0].PersonalTrainingSession.PtProductPicture)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.PriceSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.TrainingRoutines[0].PersonalTrainingSession.Product.Price)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.LenghtOfRoutineSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.TrainingRoutines[0].PersonalTrainingSession.LengthOfRoutine)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingRoutines[0].PersonalTrainingSession.Product.HasStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingRoutines[0].PersonalTrainingSession.Product.ShortDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TrainingRoutines)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalTrainingSession.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalTrainingSession.PersonalTrainingID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingRoutineID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoutineName)
            </td>
            <td>
                <img style="width:7rem;height:7rem; object-fit:cover;" src="data:image/*;base64,@(Convert.ToBase64String(item.PersonalTrainingSession.PtProductPicture))">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalTrainingSession.Product.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalTrainingSession.LengthOfRoutine) days
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalTrainingSession.Product.HasStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalTrainingSession.Product.ShortDescription)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TrainingRoutineID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TrainingRoutineID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TrainingRoutineID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
    <thead>

    </thead>
</table>

@{
    var prevDisabled = !Model.TrainingRoutines.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.TrainingRoutines.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.TrainingRoutines.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.TrainingRoutines.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>
