@model TroydonFitness.Models.Products.Supplement
@inject TroydonFitness.Models.FormattingService Format

@{
    ViewData["Title"] = "All Supplements";
}

<h3>@Model.Title</h3>
<div class="content-wrap">
    <p>
        Name @Model.Title
    </p>

    <p>
        Description: @Model.Description
    </p>
    <p>
        Supplement Type : @Model.SupplementType
    </p>
    <p>
        Supplement Price : @Model.Price
    </p>

    <p>
        @Model.HasStock
    </p>




    @*  TODO: Make delete option available
            <form asp-action="Delete" asp-controller="Feedback">
            <p>
                <button type="submit" class="text-white btn btn-danger">Delete Comment</button>
            </p>
        </form>*@

</div>



@*TO DO: Create another partial view*@
