@page
@model TroydonFitnessWebsite.Pages.Products.Orders.OrderDetailModel
@inject UserManager<TroydonFitnessWebsiteUser> UserManager
@{
    ViewData["Title"] = "OrderDetail";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="text-center">
        <img src="https://lh3.googleusercontent.com/sfcUtACL7AnBK4843dndXcXthLg_KBQb_CqBJrLfO-KxWMJaU0G0vpYZh3jqdrJu9uqxqoJE-TsgOzgh_fyj_Fvp_qI3rQSdDjqobLb5ZzyHdtaci6hX6pu9w8uoy_dWSCYNvDKVmA=s200-p-k" alt="troydon-fitness-logo" />
    </div>

    <h2>Order Summary</h2>

    <table id="t01">
        <tr>
            <th>Firstname</th>
            <td>@UserManager.GetUserAsync(User).Result.FirstName</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>@UserManager.GetUserAsync(User).Result.Email</td>
        </tr>
        <tr>
            <th> @Html.DisplayNameFor(model => model.OrderDetail.OrderDate)</th>
            <td> @Html.DisplayFor(modelItem => modelItem.OrderDetail.OrderDate)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.OrderDetail.OrderNumber)</th>
            <td>@Html.DisplayFor(modelItem => modelItem.OrderDetail.OrderNumber)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.OrderDetail.ProductName)</th>
            <td>@Html.DisplayFor(modelItem => modelItem.OrderDetail.ProductName)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.OrderDetail.Price)</th>
            <td>@Html.DisplayFor(modelItem => modelItem.OrderDetail.Price)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.OrderDetail.Quantity)</th>
            <td>@Html.DisplayFor(modelItem => modelItem.OrderDetail.Quantity)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.OrderDetail.PTSessionType)</th>
            <td>@Html.DisplayFor(modelItem => modelItem.OrderDetail.PTSessionType)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.OrderDetail.LengthOfRoutine)</th>
            <td>@Html.DisplayFor(modelItem => modelItem.OrderDetail.LengthOfRoutine)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.OrderDetail.ExperienceLevel)</th>
            <td>@Html.DisplayFor(modelItem => modelItem.OrderDetail.ExperienceLevel)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.OrderDetail.TrainingRoutine.PersonalTrainingSession.PtProductPicture)</th>
            <td><img style="width:7rem;height:7rem; object-fit:cover;" src="data:image/*;base64,@(Convert.ToBase64String(Model.OrderDetail.TrainingRoutine.PersonalTrainingSession.PtProductPicture))"></td>
        </tr>
    </table>
</div>

<div>
    <a asp-page="./ViewOrders">Orders List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
