@page
@model TroydonFitness.Pages.CustomizedRoutines.DeleteRoutineModel

@{
    ViewData["Title"] = "Delete";
}


    <div class="post-wrap text-dark">
        <h1>Delete</h1>

        <p class="text-danger">@Model.ErrorMessage</p>

        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>Product</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CustomizedRoutine.Product)
                </dt>
                @*<dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.PersonalTrainingSessions.PersonalTrainingID)
        </dd>*@
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CustomizedRoutine.RoutineType)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CustomizedRoutine.RoutineType)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CustomizedRoutine.RoutineDescription)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CustomizedRoutine.RoutineDescription)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CustomizedRoutine.RoutineAdded)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CustomizedRoutine.RoutineAdded)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CustomizedRoutine.DifficultyLevel)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CustomizedRoutine.DifficultyLevel)
                </dd>
            </dl>

            <form method="post">
                <input type="hidden" asp-for="CustomizedRoutine.Id" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-page="./Index">Back to List</a>
            </form>
        </div>

    </div>